{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block content %}
<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{% static 'img/post-bg.jpg' %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ post.title }}</h1>
                        <h2 class="subheading">{{ post.subtitle }}</h2>
                        <span class="meta"><a href="#">{{ post.author }}</a>{{ post.published_date }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <h1>New post</h1>
	<form method="POST" class="post-form">
		    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Title</label>
                            <input type="text" class="form-control" required data-validation-required-message="title of the article">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
		<div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Sub heading</label>
                            <input type="text" class="form-control" required data-validation-required-message="sub heading of the article">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
		<div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Content</label>
                            <input type="text" class="form-control" required data-validation-required-message="content">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-default">Publish</button>
                        </div>
                    </div>
	</form>
                </div>
            </div>
        </div>
    </article>

    <hr>
{% endblock %}
