<html>
	<head>
		<title>Blog</title>
	</head>
	<body>
		<div>
			<h1><a href="">Blog</a></h1>
		</div>

		<div>
			<p>published: 04.02.2015, 16:36</p>
			<h2><a href="">My first post</a></h2>
			<p>MapReduce is a programming model and software framework first developed by Google (Google’s MapReduce paper submitted in 2004)</p>
		</div>

		<div>
			<p>published: 04.02.2015, 16:45</p>
			<h2><a	href="">My second post</a></h2>
			<p>Hadoop can work directly with any distributed file system which can be mounted by the underlying OS</p>
		</div>
	</body>
</html>
